@import "../../assets/sass/variaveis";
.chamada {
    width: 100%;
    height: auto;
    display: block;
    margin: 75px 0;
    position: relative;
}
.titulo-chamada {
    max-width: 920px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 54px;
        line-height: 67px;
    }
}
.chamada--azul {
    background: $corPrimaria;
    padding: 70px 25px;
    .titulo-chamada {
        color: #fff;
    }
}