.servicos-home {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        align-items: center;
    }
    &__conteudo {
        width: 100%;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        @media screen and (max-width: 767px) {
            webkit-order: 2;
            order: 3
        }
        @media screen and (min-width: 768px) {
            width: 60%;
            padding-right: 20px;
        }
    }
    &__icone {
        width: 100%;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        img {
            @media screen and (max-width: 520px) {
                max-width: 220px;
            }
        }
        @media screen and (max-width: 767px) {
            webkit-order: 1;
            order: 1;
        }
        @media screen and (min-width: 768px) {
            text-align: right;
            width: 40%;
        }
        &--esquerda {
            @media screen and (min-width: 768px) {
                text-align: left;
            }
        }
    }
}
.servicos-home--icone-esquerda {
    .servicos-home__icone {
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
}