.servicos-home {
    @media screen and (min-width: 920px) {
        display: flex;
    }
    &__conteudo {
        @media screen and (min-width: 920px) {
            width: 60%;
            padding-right: 20px;
        }
    }
    &__icone {
        @media screen and (min-width: 920px) {
            width: 40%;
        }
    }
}