.footer {
    width: 100%;
    max-width: 660px;
    margin: 70px auto 15px auto;
    &__titulo {
        font-size: 80px;
        color: #29639e;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    &__descricao {
        font-size: 18px;
    }
}