.menu {
    &__ul {
    }
    &__li {
        display: inline;
        @media screen and (min-width: 768px) {
            margin-right: 25px;
        }
    }
    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        img, svg {
            max-width: 15px;
            position: relative;
            top: 3px;
            margin-right: 7px;
        }
    }
}