@import "variaveis.scss";

.botao-padrao {
    font-size: 16px;
    color: #fff;
    padding: 13px 30px;
    background: $corSecundaria;
    text-decoration: none;
    display: inline-block;
    border-radius: 13px;
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    transition: .3s all linear;
    &:hover {
        background: $corSecundariaHover;
    }
}